body{
    text-align: center;
    background-color: rgba(11, 56, 92, 0.678);
}
#headersection{padding: 10px;
}
#headersection h1{ font-family:'Times New Roman', Times, serif;
}
input{
    padding: 10px;
    border-radius:5px;
}
#dropbox{
    padding: 10px;
    border-radius:5px;
    width:15%;
}
#loginbtn{
    padding: 5px;
    font-size: 15px;
    background-color: rgb(127, 208, 255);
    color: black;
    border-radius: 5px;

}



    